*,
 ::after,
 ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 25px;
    font-family: monospace;
    font-weight: 800;
    color: bisque;
    background-color: rgb(27, 30, 48);
}

#container {
    width: 500px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

h1 {
    width: 100%;
    padding: 20px 0;
    font-size: 3rem;
}

h3 {
    width: 100%;
    padding-top: 5px;
}

.element-div {
    width: 50%;
}

.timer-div {
    width: 60%;
    border-radius: 15%;
    border: 8px solid bisque;
    margin: 0 auto;
}

.cmd-div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 25px;
}

.timeLen {
    margin: 0 10px;
}

.fa {
    cursor: pointer;
}

#start_stop {
    margin-right: 20px;
    width: 40px;
    display: flex;
    cursor: pointer;
}

.stop-start-icon {
    z-index: -1;
}

.time-left {
    font-size: 3.5rem;
    font-weight: 800;
}

#by {
    margin: 15px auto;
    width: 350px;
    text-align: center;
    font-family: serif;
    font-size: 0.75rem;
}

a {
    text-decoration: none;
    color: rgb(185, 128, 62);
}

@media (max-width: 600px) {
    body {
        font-size: 20px;
    }
    #container {
        flex-direction: column;
        width: 400px;
    }
    h1 {
        font-size: 2rem;
    }
    .time-left {
        font-size: 3rem;
    }
}